<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- ODBC Settings -->
    <add key="OdbcDsnName" value="AKP_AWSDSN"/>
    <add key="OdbcDriver" value="SQL Server"/>
    <add key="OdbcServer" value="58.82.140.99"/>
    <add key="OdbcDatabase" value="BWG_AWSDB"/>
    <add key="OdbcUid" value="sa"/>
    <add key="OdbcPwd" value="Akkhie06"/>

    <!-- Generic Keys for Windows Edition Upgrades -->
    <!-- The key format is "GenericKey:[Product Name from CSV]" -->
    <add key="GenericKey:Windows 11 Pro" value="VK7JG-NPHTM-C97JM-9MPGT-3V66T"/>
    <add key="GenericKey:Windows 10 Pro" value="VK7JG-NPHTM-C97JM-9MPGT-3V66T"/>
    <add key="GenericKey:Windows 8.1 Professional" value="GCRJD-8NW9H-F2CDX-CCM8D-9D6T9"/>
    <add key="GenericKey:Windows 8 Professional" value="NG4HW-VH26C-733KW-K6F98-J8CK4"/>
    <add key="GenericKey:Windows 7 Professional" value="FJ82H-XT6CR-J8D7P-XQJJ2-GPDD4"/>

    <!-- Server Generic Keys -->
    <add key="GenericKey:Windows Server 2016 Standard" value="WC2BQ-8NRM3-FDDYY-2BFGV-KHKQY"/>
    <add key="GenericKey:Windows Server 2012 R2 Standard" value="D2N9P-3P6X9-2R39C-7RTCD-MDVJX"/>
    <add key="GenericKey:Windows Server 2012 Standard" value="XC9B7-NBPP2-83J2J-2BFD2-4YV4H"/>
    <add key="GenericKey:Windows Server 2008 R2 Enterprise" value="489J6-VHDMP-X63PK-3K798-CPX3Y"/>
    <add key="GenericKey:Windows Server 2008 Enterprise" value="YQGMW-MPWTJ-34KDK-48M3W-X4Q6V"/>

    <add key="CrystalReportsKey" value="A6A50-8900008-ZE1007S"/>

    <!-- Note: Upgrade paths for some older OS like Vista or certain Server editions might not be straightforward -->
    <!-- and may not be supported by the 'changepk.exe' tool. -->

  </appSettings>
</configuration>
