<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- License Keys -->
    <add key="LicenseKey" value="FVQ3N-6V3G6-FXFHM-Q37FC-27JXM"/>
    <add key="GenericWinProKey" value="VK7JG-NPHTM-C97JM-9MPGT-3V66T"/>
    <add key="OdbcDsnName" value="BWG_AWSDB"/>
    <add key="OdbcDriver" value="SQL Server"/>
    <add key="OdbcServer" value="58.82.140.99"/>
    <add key="OdbcDatabase" value="BWG_AWSDB"/>
    <add key="OdbcUid" value="sa"/>
    <add key="OdbcPwd" value="Akkhie06"/>
  </appSettings>
</configuration>
